version: '3.8'

services:
  # Backend API
  backend:
    platform: linux/amd64
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
      
    container_name: monkci-backend
    image: monkci/portal-backend:latest
    restart: unless-stopped
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - GITHUB_APP_ID=${APP_ID}
      - GITHUB_CLIENT_ID=${CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${CLIENT_SECRET}
      - GITHUB_PRIVATE_KEY=${PRIVATE_KEY}
      - GITHUB_REDIRECT_URI=${REDIRECT_URI}
    ports:
      - "3001:3001"
    networks:
      - monkci-network
    volumes:
      - ./apps/backend/uploads:/app/uploads
    labels:
      - "com.centurylinklabs.watchtower.enable=true"  # enable watcher

  # Frontend Application
  console:
    platform: linux/amd64
    build:
      context: ./apps/console
      dockerfile: Dockerfile
    container_name: monkci-console
    image: monkci/portal-console:latest
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - NEXT_PUBLIC_GITHUB_APP_SLUG=${NEXT_PUBLIC_GITHUB_APP_SLUG}
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - monkci-network
    labels:
      - "com.centurylinklabs.watchtower.enable=true"  # enable watcher

  # Watchtower Service
  watchtower:
    image: containrrr/watchtower:latest
    container_name: monkci-watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 60 --label-enable
    # --cleanup: removes old images after update
    # --interval 60: checks every 60 seconds
    # --label-enable: only update containers with the above label

networks:
  monkci-network:
    driver: bridge
